/* body, html {
    height: 100%;
    background-image: url(http://www.friendlyfirerecordings.com/Bands/Faunts/faunts_hires_1.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

